<script src="../app-routing.module.ts"></script>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="" alt="IMG">
      </div>

      <form class="login100-form validate-form">
                <span class="login100-form-title">
          Member Login
        </span>
        <div>
          <div class="">
            <form>
              <div class="form-group  ">
                <label>Usuario :   </label>
                <input class="usuario" matInput placeholder="Usuario" name="username" >

              </div>
              <div class="form-group">
                <label>Password : </label>
                <input class="password" type="password" matInput placeholder="contraseña" name="password" >
              </div>


            </form>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Iniciar Sesion
          </button>
          <br>
          <br>
          <br>

          <button  class="btn btn-outline-danger btn-lg">
            <i class="fab fa-google"></i>  Iniciar Sesion
          </button>



        </div>

        <div class="text-center p-t-12">
                    <span class="txt1">
            Olvidaste tu Contraseña
          </span>
          <a class="txt2" routerLink="/recuperar">
            Username / Password?
          </a>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" routerLink="/register">
            ¿Eres Nuevo ? Crea Aquí
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
