<div class="container-fluid " id="sec-2" style="padding-left: 0;padding-right: 0; height: auto; padding-top: 0; padding-bottom: 0; overflow: hidden;">
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid img-thumbnail thumbnail img" style="height: auto;padding-top: 0; padding-bottom: 0;margin:0;" src="../../../assets/img/borde2.jpeg">
      <img class="img-fluid img-thumbnail thumbnail img" style="height: auto;padding-top: 0; padding-bottom: 0;margin:0;" src="../../../assets/img/borde2.jpeg">

    </div>
    <div class="col col-sm">
      <h2 class="d-flex justify-content-center mt-5 mb-5 text-primary fontsobre pt-5">Sobre Nosotros</h2>

      <div class="d-flex justify-content-center mt-5 fontfa">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos aut ipsam, tempora itaque fuga maiores ducimus, unde porro aliquid repellendus labore quod expedita eaque, nam minima? Quas sequi quo eum!</div>
    </div>
    <div class="col-sm">
      <img class="img-fluid img-thumbnail thumbnail img" style="height: auto; padding-top: 0; padding-bottom: 0;margin:0;" src="../../../assets/img/borde1.jpeg">
      <img class="img-fluid img-thumbnail thumbnail img" style="height: auto;padding-top: 0; padding-bottom: 0;margin:0;" src="../../../assets/img/borde1.jpeg">
    </div>
  </div>
</div>
