/*.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: hsl(0, 0%, 13%);
    align-self: flex-end;
    margin-top: 0;*/

footer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 100%;
  height: auto;
}
